<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="mainCtrl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>WebRTC Chat</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css" rel="stylesheet" media="screen">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" media="screen">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" media="screen">
  <link href="style.css" rel="stylesheet" media="screen">


  <script src="http://code.jquery.com/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
  <script src="http://cdn.peerjs.com/0.3/peer.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <script src="app.js" charset="utf-8"></script>

</head>
<body>

  <div class="loading"></div>

  <div class="container">

    <div class="row m-t-3 text-xs-center">
      <div class="col-lg-12">
        <h1 class="display-4">WebRTC App</h1>
        <p>
          Web <em>Real-Time Communications</em> is a standard that defines a collection of communications protocols and application programming interfaces that enable real-time communication over peer-to-peer connections. This enables applications like video conferencing, file transfer, chat, or desktop sharing without the need of either internal or external plugins.
          <a href="https://en.wikipedia.org/wiki/WebRTC">Learn more at Wikipedia</a>.
        </p>
        <hr>
      </div>
    </div>

    <div class="row m-t-3 m-b-3">

      <div class="col-lg-4 offset-lg-4" id="loginBox" style="display: none;">
        <div class="card card-block">
          <form name="connectionForm" ng-submit="startConnection()">
            <label for="">My ID:</label>
            <input type="text" class="form-control form-control-lg input-lg m-b-1" name="myPeerId" value="" ng-model="myPeerId" readonly="">
            <label for="">Connect to:</label>
            <input type="text" class="form-control form-control-lg m-b-1" name="destPeerId" ng-model="destPeerId" required="">
            <button type="submit" class="btn btn-primary btn-lg btn-block" name="" ng-disabled="connectionForm.$error.required">Connect</button>
          </form>
        </div>
      </div>

      <div class="col-lg-12" id="chatBox" style="display: none;">

        <form name="messageForm" class="form-inline" ng-submit="sendMessage()">
          <div class="form-group col-lg-10">
            <input type="text" name="" rows="1" style="width:100%;" class="form-control form-control-lg" name="messageInput" id="messageInput" value="" ng-model="message" required="">
          </div>
          <div class="form-group col-lg-2">
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="messageForm.messageInput.$error.required">Send</button>
          </div>
        </form>

        <div class="col-lg-12">
          <hr>

          <div class="card">
            <div class="card-header">
              Messages
            </div>

            <div class="card-block pre-scrollable" style="height:300px;" id="messageContainer">
            </div>

            <div class="card-footer text-muted">
              Settings: {{ }}
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</body>
</html>
